POSTGRES_USER=clipmind
POSTGRES_PASSWORD=Sha2006heen*
POSTGRES_DB=clipmind_db

MONGO_DB_NAME=clipmind_content

JWT_SECRET_KEY=3Yez08KHiNQ-sun7E4wG7diIf8zQTpS0zLe_wuJxm7D6nMu8cVdZSjU4g50uoTkG
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

MAX_UPLOAD_SIZE_MB=2048

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=no-reply@clipmindai.com

FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000
CORS_ORIGINS=http://localhost:3000

PASSWORD_RESET_EXPIRE_MINUTES=30