body{
background:#edf2f7;
font-family:Segoe UI;
}

.card{
border-radius:15px;
}

.card:hover{
transform:translateY(-4px);
transition:.3s;
}

.progress{
border-radius:15px;
}

.navbar{
box-shadow:0 2px 10px rgba(0,0,0,.15);
}