fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
faster-whisper
ollama
yt-dlp
moviepy
deep-translator
python-multipart
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
email-validator